$footer-height: 4rem;

.page_container {
    position: relative;
    min-height: 100vh;

    overflow-y: hidden;
}

.main {
    padding-bottom: $footer-height + 1rem; /* Footer height */

    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2rem;

    padding-top: 2rem;

    .logo {
        @media (max-width: 768px) {
            width: auto;
            height: clamp(36px, 10vw, 64px);
        }
    }

    .wrapper {
        background-color: var(--theme-background-primary);

        width: 32rem;
        border-radius: 0.75rem;
        padding: 2rem;

        box-shadow: 0 0 0.5rem rgb(0 0 0 / 0.05);

        @media (max-width: 768px) {
            width: clamp(16rem, 90%, 32rem);
            padding: clamp(1rem, 1vw, 2rem);
        }
    }

    .links {
        font-size: 0.8em;

        span {
            user-select: none;
        }

        a {
            color: var(--theme-blue);

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: $footer-height;

    color: var(--theme-text-secondary);
    text-align: center;

    .rule {
        background-color: var(--theme-background-tertiary);
        height: 1px;
        border: none;
        margin: 0 4rem 1rem 4rem;
    }
}
