@import '../../styles/theme';

.button_group {
    display: flex;
    flex-direction: column;

    gap: 1rem;

    width: 90%;
}

.login_link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    border: 2px solid $theme-background-tertiary;
    border-radius: 0.5rem;
    padding: 0.625rem;

    width: 100%;

    .text {
        h3 {
            margin: 0;
            font-size: 1em;
        }
    }

    &:hover {
        background-color: lighten($theme-background-secondary, 1.5%);
    }
}
