.nav_wrapper {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 1rem;

    background-color: var(--theme-background-primary);
    box-shadow: 0 4px 16px 0 rgb(0 0 0 / 10%);

    z-index: 100000; // NavBar should always be on top of everything
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    margin: 0 auto;
    padding: 0 2rem;
    max-width: 96rem;

    &__links {
        display: flex;
        flex-direction: row;
        gap: 2rem;
        align-items: center;
        margin-left: 1rem;

        a {
            font-weight: 700;
            font-size: 1.25em;

            transition: color 0.2s ease;

            &:hover {
                color: var(--theme-blue);
            }
        }
    }

    &__side {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        align-items: center;
    }

    &__button {
        display: flex;
        align-items: center;

        padding: 0.5rem 1rem;
        border-radius: 0.5rem;

        cursor: pointer;
        font-weight: 700;

        transition: background-color 0.2s ease, color 0.2s ease, border-color 0.2s ease;

        border: 2px solid var(--theme-blue);

        &__primary {
            background-color: var(--theme-blue);
            color: #fff;

            &:hover {
                background-color: var(--theme-blue-dark);
                border-color: var(--theme-blue-dark);
            }
        }

        &__secondary {
            background-color: var(--theme-background-primary);
            color: var(--theme-blue);

            &:hover {
                color: var(--theme-blue-dark);
                border-color: var(--theme-blue-dark);
            }
        }
        &__danger {
            background-color: var(--theme-background-primary);
            border-color: var(--theme-red);
            color: var(--theme-red);

            &:hover {
                color: var(--theme-red-dark);
                border-color: var(--theme-red-dark);
            }
        }
    }
}

.profile {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;

    &__avatar {
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 50%;
        object-fit: cover;
    }

    &__name {
        font-weight: 700;
    }
}
