.table {
    border-radius: 0.5rem;
    background-color: var(--theme-background-tertiary);

    tr {
        th,
        td {
            padding: 0.5rem;
        }

        // Table Head Row
        &:first-child {
            th {
                text-align: left;
                background-color: var(--theme-background-primary);
            }

            th:first-child {
                border-radius: 0.375rem 0 0 0;
            }
            th:last-child {
                border-radius: 0 0.375rem 0 0;
            }
        }

        // Last Data Row
        &:last-child {
            td:first-child {
                border-radius: 0 0 0 0.375rem;
            }
            td:last-child {
                border-radius: 0 0 0.375rem 0;
            }
        }

        // Table data rows
        &:not(:first-child) {
            // Every other row
            &:nth-child(2n + 1) td {
                color: var(--theme-text-secondary);
                background-color: var(--theme-background-primary);
            }
            &:nth-child(2n) td {
                color: var(--theme-text-secondary);
                background-color: var(--theme-background-secondary);
            }
        }
    }
}
