$colors: (
    red: #ff3737,
    red-dark: #ff0e0e,
    blue: #377dff,
    blue-dark: #0e62ff,
    green: #1bb43c,
    green-dark: #1aab39,
    blurple: #5865f2,
);

$light: (
    background-primary: #ffffff,
    background-secondary: #f5f6fa,
    background-secondary-light: #fafbfd,
    background-tertiary: #ddd,
    background-quaternary: #c4c4c4,

    text-primary: #333333,
    text-secondary: #8f8f8f,
    text-tertiary: #c0c0c0,
);

$theme-light: map-merge($colors, $light);

$dark: (
    background-primary: #0a0b0e,
    background-secondary: #06070a,
    background-secondary-light: #06070a,
    background-tertiary: #333333,
    background-quaternary: #151515,

    text-primary: #ffffff,
    text-secondary: #c0c0c0,
    text-tertiary: #8f8f8f,
);

$theme-dark: map-merge($colors, $dark);

$teal: (
    background-primary: #0f908e,
    background-secondary: #0d7e7c,
    background-secondary-light: #109795,
    background-tertiary: #13b5b3,
    background-quaternary: #11a3a0,

    text-primary: #ffffff,
    text-secondary: #9defee,
    text-tertiary: #59d3d1,
);

$theme-teal: map-merge($colors, $teal);