$background-primary: #ffffff !default;
$background-secondary: #f5f6fa !default;
$background-tertiary: #ddd !default;

$text-primary: #333333 !default;
$text-secondary: #8f8f8f !default;

$red: #ff3737 !default;
$blue: #377dff !default;
$green: #1bb43c !default;
$blurple: #5865f2 !default;
