$colors: (
    red: #ff3737,
    red-dark: #ff0e0e,
    blue: #377dff,
    blue-dark: #0e62ff,
    green: #1bb43c,
    green-dark: #1aab39,
    blurple: #5865f2,
);

$light: (
    background-primary: #ffffff,
    background-secondary: #f5f6fa,
    background-secondary-light: #fafbfd,
    background-tertiary: #ddd,
    background-quaternary: #c4c4c4,

    text-primary: #333333,
    text-secondary: #9198A5,
    text-tertiary: #c0c0c0,
);

$theme-light: map-merge($colors, $light);

$dark: (
    background-primary: #0a0b0e,
    background-secondary: #06070a,
    background-secondary-light: #06070a,
    background-tertiary: #333333,
    background-quaternary: #151515,

    text-primary: #ffffff,
    text-secondary: #c0c0c0,
    text-tertiary: #8f8f8f,
);

$theme-dark: map-merge($colors, $dark);

$teal: (
    background-primary: #0c1212,
    background-secondary: #060a0a,
    background-secondary-light: #0a1010,
    background-tertiary: #233a3a,
    background-quaternary: #192a2a,

    text-primary: #ffffff,
    text-secondary: #82b2b1,
    text-tertiary: #588f8e,

    blue: #0d7e7c,
    blue-dark: #095958,
);

$theme-teal: map-merge($colors, $teal);
