$background-primary: #ffffff !default;
$background-secondary: #f5f6fa !default;
$background-tertiary: #ddd !default;

$text-primary: #333333 !default;
$text-secondary: #8F8F8F !default;

$red: #ff3737 !default;
$blue: #377dff !default;
$green: #1cb85d !default;