.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;

    width: 40rem;
    height: 100%;

    margin: 0 auto;
}

.heading {
    font-size: 1.75rem;
    font-weight: 700;

    text-align: center;
}

.subheading {
    color: var(--theme-text-secondary);
    font-weight: 500;
}