@font-face {
    font-family: 'Metropolis';
    src: url(/fonts/metropolis/Metropolis-Black.otf);
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Metropolis';
    src: url(/fonts/metropolis/Metropolis-Black-Italic.otf);
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Metropolis';
    src: url(/fonts/metropolis/Metropolis-ExtraBold.otf);
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Metropolis';
    src: url(/fonts/metropolis/Metropolis-ExtraBold-Italic.otf);
    font-weight: 800;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Metropolis';
    src: url(/fonts/metropolis/Metropolis-Bold.otf);
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Metropolis';
    src: url(/fonts/metropolis/Metropolis-Bold-Italic.otf);
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Metropolis';
    src: url(/fonts/metropolis/Metropolis-SemiBold.otf);
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Metropolis';
    src: url(/fonts/metropolis/Metropolis-SemiBold-Italic.otf);
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Metropolis';
    src: url(/fonts/metropolis/Metropolis-Medium.otf);
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Metropolis';
    src: url(/fonts/metropolis/Metropolis-Medium-Italic.otf);
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Metropolis';
    src: url(/fonts/metropolis/Metropolis-Regular.otf);
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Metropolis';
    src: url(/fonts/metropolis/Metropolis-Regular-Italic.otf);
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Metropolis';
    src: url(/fonts/metropolis/Metropolis-Light.otf);
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Metropolis';
    src: url(/fonts/metropolis/Metropolis-Light-Italic.otf);
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Metropolis';
    src: url(/fonts/metropolis/Metropolis-ExtraLight.otf);
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Metropolis';
    src: url(/fonts/metropolis/Metropolis-ExtraLight-Italic.otf);
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Metropolis';
    src: url(/fonts/metropolis/Metropolis-Thin.otf);
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Metropolis';
    src: url(/fonts/metropolis/Metropolis-Thin-Italic.otf);
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}
