.container {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    gap: 7.5rem;
}

.icons {
    padding: 0.5rem 1rem;

    display: flex;
    gap: 1rem;

    .icon:first-child {
        margin-left: auto;
    }

    .icon {
        width: 2rem;
        height: 2rem;

        svg {
            color: var(--theme-text-tertiary);
            stroke: var(--theme-text-tertiary);

            transition: color 0.3s ease, stroke 0.3s ease;

            path {
                stroke: var(--theme-text-tertiary);
                transition: stroke 0.3s ease;
            }

            &:hover {
                color: var(--theme-text-secondary);
                stroke: var(--theme-text-secondary);

                path {
                    stroke: var(--theme-text-secondary);
                }
            }
        }
    }
}

.profile {
    display: flex;
    flex-direction: column;
    gap: 4rem;

    &_avatar {
        padding: 0 4rem;

        &_inner {
            position: relative;
            width: 100%;
            aspect-ratio: 1/1;
            border-radius: 1rem;

            img {
                border-radius: 1rem;
                overflow: hidden;
            }
        }

        &_edit {
            position: absolute;
            bottom: -0.75rem;
            right: -0.75rem;

            display: flex;
            justify-content: center;
            align-items: center;

            color: var(--theme-text-secondary);

            background-color: var(--theme-background-primary);
            border: 2px solid var(--theme-background-secondary);

            padding: 0.375rem;
            border-radius: 50%;
        }
    }

    &_text {
        text-align: center;

        display: flex;
        flex-direction: column;
        gap: 1rem;

        h2 {
            font-size: 1.5rem;
            font-weight: 600;
        }

        h3 {
            font-size: 1.25rem;
            font-weight: 400;

            color: var(--theme-text-secondary);
        }
    }
}
